# build artifacts
*.os
*.o
*.obj
.sconsign.dblite
demo/addons/godot_jank/bin/*.dylib
demo/addons/godot_jank/bin/*.so
demo/addons/godot_jank/bin/*.dll

# godot
demo/.godot/
.DS_Store

# idea
.idea/
*.iml

# local setup
scripts/

# jank nREPL port (written at runtime)
.nrepl-port
demo/.nrepl-port
